<footer class="footer navbar-fixed-bottom">
  <h2>
    <a href="https://github.com/edwinramirez/book_manager">Book Manager</a>
    by <a href="https://github.com/edwinramirez">Edwin Ramirez</a>
  </h2>
</footer>